// GD.INFO : _FONTS => SCSS \\
/* GD.INFO _FONTS => CSS */
	// @FONT-FACE
		@font-face { /* serif */
			font-family: 'droid serif';
			src:url('fonts/droid/serif/droidserif.ttf') format(truetype), /* 400 */
				url('fonts/droid/serif/droidserif-italic.ttf') format(truetype),
				url('fonts/droid/serif/droidserif-bold.ttf') format(truetype), /* 700 */
				url('fonts/droid/serif/droidserif-bolditalic.ttf') format(truetype);
		}
		@font-face {
			font-family:'open sans';
			src:url(fonts/opensans/opensans-regular.ttf) format(truetype),
				url(fonts/opensans/opensans-light.ttf) format(truetype),
				url(fonts/opensans/opensans-semibold.ttf) format(truetype),
				url(fonts/opensans/opensans-bold.ttf) format(truetype),
				url(fonts/opensans/opensans-extrabold.ttf) format(truetype);
		}
		@font-face { /* sans-serf */
			font-family: 'droid sans';
			src:url('fonts/droid/sans/droidsans.ttf') format(truetype), /* 400 */
				url('fonts/droid/sans/droidsans-bold.ttf') format(truetype); /* 700 */
		}
		@font-face { /* mono */
			font-family: 'droid mono';
			src:url('fonts/droid/mono/droidsansmono.ttf') format(truetype); /* 400 */
		}
	// VARIABLES
		$fontstack-sf	: 'droid serif', 'curior', serif;
		$fontstack-ss	: 'droid sans', 'arial', sans-serif;
		$fontstack-os	: 'open sans', 'arial', sans-serif;
		$fontstack-mo	: 'droid mono', monospace;
	// MIXINS
		@mixin serif(){
			font-family: $fontstack-sf;
		}
		@mixin serif-heading(){
			font-family: $fontstack-sf;
			font-weight: 700;
		}
		@mixin sans(){
			font-family: $fontstack-ss;
			font-weight: 300;
		}
			@mixin open(){
				font-family: $fontstack-os;
				font-weight: 300;
			}
		@mixin sans-heading(){
			font-family: $fontstack-ss;
			font-weight: 700;
		}
			@mixin open-heading(){
				font-family: $fontstack-os;
				font-weight: 700;
			}
		@mixin mono(){
			font-family: $fontstack-mo;
		}
	// FUNCTIONS

.text-maroon{
	color: $maroon;
}
.text-blue{
	color: $blue;
}
.text-violet{
	color: $violet;
}
.text-orange{
	color: $orange;
}
.text-gold{
	color: $gold;
}

/*
	$maroon	: #9D2042;
		$blue	: #20429D;
		$green	: #429D20;
		$violet	: #42209D;
		$orange	: #9D4220;
		$gold	: #EEC141;
*/