// GD.INFO : _FONTS => SCSS \\
/* GD.INFO _FONTS => CSS */
	// Imports
		//@import "../fonts/fa-icons/scss/font-awesome";
		@font-face { /* serif */
			font-family: 'droid serif';
			src:url('fonts/droid/serif/droidserif.ttf') format(truetype), /* 400 */
				url('fonts/droid/serif/droidserif-italic.ttf') format(truetype),
				url('fonts/droid/serif/droidserif-bold.ttf') format(truetype), /* 700 */
				url('fonts/droid/serif/droidserif-bolditalic.ttf') format(truetype);
		}
		@font-face {
			font-family:'open sans';
			src:url(fonts/opensans/opensans-regular.ttf) format(truetype),
				url(fonts/opensans/opensans-light.ttf) format(truetype),
				url(fonts/opensans/opensans-semibold.ttf) format(truetype),
				url(fonts/opensans/opensans-bold.ttf) format(truetype),
				url(fonts/opensans/opensans-extrabold.ttf) format(truetype);
		}
		@font-face { /* sans-serf */
			font-family: 'droid sans';
			src:url('fonts/droid/sans/droidsans.ttf') format(truetype), /* 400 */
				url('fonts/droid/sans/droidsans-bold.ttf') format(truetype); /* 700 */
		}
		@font-face { /* mono */
			font-family: 'droid mono';
			src:url('fonts/droid/mono/droidsansmono.ttf') format(truetype); /* 400 */
		}
	@import "socicons";
	// VARIABLES
		$fontstack-sf	: 'droid serif', 'curior', serif;
		$fontstack-ss	: 'droid sans', 'arial', sans-serif;
		$fontstack-os	: 'open sans', 'arial', sans-serif;
		$fontstack-mo	: 'droid mono', monospace;
	// MIXINS
		@mixin serif(){
			font-family: $fontstack-sf;
		}
		@mixin serif-heading(){
			font-family: $fontstack-sf;
			font-weight: 700;
		}
		@mixin sans(){
			font-family: $fontstack-ss;
			font-weight: 400;
		}
			@mixin open(){
				font-family: $fontstack-os;
				font-weight: 300;
			}
		@mixin sans-heading(){
			font-family: $fontstack-ss;
			font-weight: 700;
		}
			@mixin open-heading(){
				font-family: $fontstack-os;
				font-weight: 700;
			}
		@mixin mono(){
			font-family: $fontstack-mo;
		}
/* Color Helpers */
.text-maroon{
	color: $maroon !important;
	&#hv:hover{
		color: lighten($maroon,25%) !important;
	}
}
.text-blue{
	color: $blue !important;
	&#hv:hover{
		color: lighten($blue,25%) !important;
	}
}
.text-violet{
	color: $violet !important;
	&#hv:hover{
		color: lighten($violet,25%) !important;
	}
}
.text-orange{
	color: $orange !important;
	&#hv:hover{
		color: lighten($orange,25%) !important;
	}
}
.text-gold{
	color: $gold !important;
	&#hv:hover{
		color: lighten($gold,25%) !important;
	}
}
.text-green{
	color: $green !important;
	&#hv:hover{
		color: lighten($green,25%) !important;
	}
}
.text-base{
	color: $base5 !important;
	&#hv:hover{
		color: lighten($base5,25%) !important;
	}
}
/* Font-style Helpers */
.text-sans{
	@include sans;
}
.text-sans-open{
	@include open;
}
.text-sefif{
	@include serif;
}
.text-mono{
	@include mono;
}

		// $maroon	: #9D2042;
		// $blue	: #20429D;
		// $green	: #429D20;
		// $violet	: #42209D;
		// $orange	: #9D4220;
		// $gold	: #EEC141;