// GD.INFO : THEME => SCSS \\

	// IMPORTS
		@import "colors";
		@import "fonts";
		@import "animations";

	// VARIABLES
			// Colors \\
		$bg-body	: $base9;
		$bg-main	: white;
		$bdr-main	: $base75;
		$ftr		: white;
		$hdr-h1		: $ftr;
		$link 		: $hdr-h1;
		$link-h		: $base75;
		$link-a		: $link;
		$pq			: $gold;
		$pq-lt		: rgba($pq,.25);
		// buttons
			$btn-bg	: white;
			// Units \\
		$bdr-rad	: 10px;
		$pd-li		: 20px;

	// MIXINS
	@mixin border($radius, $bgc, $init...){
		background-color: $bgc;
		border: $init;
		border-radius: $radius;
		color: $init;
		@include open();
		font-weight: 400;
	}

	@mixin time($time...){
		-webkit-transition: $time;
		-moz-transition: $time;
		-o-transition: $time;
		transition: $time;
	}
		// set vendor prefixes to attribute-prefixes
	@mixin vendattr($attr,$val...){
		-webkit-#{$attr}: $val;
		-moz-#{$attr}: $val;
		-o-#{$attr}: $val;
		#{$attr}: $val;
	}
		// set vendor prefixes to value-prefixes
	@mixin vendval($attr,$val...){
		#{$attr} : -webkit-#{$val};
		#{$attr} : -moz-#{$val};
		#{$attr} : -o-#{$val};
		#{$attr} : #{$val};
	}
	// FUNCTIONS

/* GD.INFO THEME => CSS */
*:active, *:hover{
	text-decoration: none;
}
body{
	
	@include serif;
	background: rgba($bg-body,1);
	// @include vendattr(transition, .25s all); vendval(background,'rgb(125,90,90)');
	/* Headings */
	h1, h2, h3, h4, h5, h6{
		small{
			@include sans;
		}
	}
	h1, h2, h3, h4{
		@include serif-heading;
	}
	h5, h6{
		@include sans-heading;
	}
	header{
		background: $maroon;
		margin-top: -1.75%;
		h1.h1{
			color: $hdr-h1;
			font-size: 3.75em;
			padding: 15px 0 0 0;
		}
		nav{
			a, li{
				@include time(.25s, all);
			}
			ul{
				li{
					border-bottom: 3px solid $t;
					letter-spacing: 1px;
					padding: 0 $pd-li 0 $pd-li;
					&:hover{
						border-bottom: 3px solid $link-h;
						a{
							color: $link-h !important;
							text-decoration: none;
						}
					}
					&:active{
						@include time(0,all);
						border-bottom-color: $link-a;
						a:active{
							@include time(0,all);
							color: white !important;
						}
					}
					a{
						text-decoration: none;
						&:link{
							color: $link;
						}
						&:active{
							color: $link-a;
						}
						&:visited{
							color: $link;
						}
					}
				}
			}
		}
		&.fixed{
			background: maroon;
		    color: white;
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    h1{
		    	outline: 2px solid gold;
		    }
		}
	}
	div.container{
		div.main{
			background-color: $bg-main;
			border: 2px solid $bdr-main;
			border-radius: $bdr-rad;
			h2, h3, h4{
				@include serif;
			}
			p{
				@include sans;
				/* TYPOGRAPHY */
				font-size: 12px;
				letter-spacing: .75px;
				line-height: 1.5em;
				code{
					@include mono;
					// font-size: .8em;
				}
				&.pullquote{
					// background-color: lighten($pq, 57.5%);
					border-top: 5px solid $pq-lt;
					border-bottom: 5px solid $pq-lt;
					color: $pq;
					@include serif();
					font-size: 1.75em;
					font-style: italic;
					padding: .5em;
					text-align: center;
				}
			}
			blockquote{
				font-style: italic;
				&::after{
					content: "– "attr(data-source);
					font-size: .75em;
					font-style: initial;
					padding-left: 25px;
				}
			}
			section{
				&[id]{
					margin-left: 15px;

					p{
						margin-left: 25px;
						& samp{
							$color : $violet;
							background-color: lighten($color, 60%);
							border-radius: 3px;
							color: $color;
							font-size: .9em;
							padding: 3px;
							.comment{
								&::before{
									content: "// ";
								}
								$color : lighten($base,45%);
								background-color: lighten($color, 45%);
								color: $color;
							}
							&.comment{
								&::before{
									content: "// ";
								}
								$color : lighten($base,45%);
								background-color: lighten($color, 45%);
								color: $color;
							}
						}
					}
					pre#php{
						$color	: lighten($violet,25%);
						background-color: lighten($color, 37%);
						border-color: lighten($color,25%);
						color: $color;
						font-size: .75em;
						margin-left: 25px;
						padding: 3px;
					}
					table.ref{
						margin: 0 auto 0 auto;
						width: 25em;
						tr{
							th{
								@include sans;
							}
							td:first-of-type{
								text-align: center;
							}
						}
					}
				}
			}
		}
	}
	footer{
		background: $maroon;
		color: $ftr;
		font-size: (1em * .85);
		margin: 1% 0 0 0;
		padding: 12px 0 .5px 0;
	}
	/* Style Classes */
	// .ani{
	//	@include lr-ani(1,left,.25s,$gold);
	// }
	/* Styled Element */
	button{
		@include border(5px, $btn-bg , $blue 1px solid);
		&.ani{
			@include ctc(1, 60deg,.5s,$blue);
			@include rad(1,center,.2s, $blue);
		}
	}
}