// GD.INFO : THEME => SCSS \\

	// IMPORTS
		@import "colors";
		@import "fonts";

	// VARIABLES
			// Colors \\
		$bg-body	: $base9;
		$bg-main	: white;
		$bdr-main	: $base75;
		$hdr-h1		: white;
		$link 		: $hdr-h1;
		$link-h		: $base75;
		$link-a		: $link;

		$bdr-rad	: 10px;
		$pd-li		: 20px;
	// MIXINS
	@mixin time($time...){
		-webkit-transition: $time;
		-moz-transition: $time;
		-o-transition: $time;
		transition: $time;
	}
		// set vendor prefixes to attribute-prefixes
	@mixin vendattr($attr,$val...){
		-webkit-#{$attr}: $val;
		-moz-#{$attr}: $val;
		-o-#{$attr}: $val;
		#{$attr}: $val;
	}
		// set vendor prefixes to value-prefixes
	@mixin vendval($attr,$val...){
		#{$attr} : -webkit-#{$val};
		#{$attr} : -moz-#{$val};
		#{$attr} : -o-#{$val};
		#{$attr} : #{$val};
	}
	// FUNCTIONS

/* GD.INFO THEME => CSS */
*:active, *:hover{
	text-decoration: none;
}
body{
	@include serif;
	background-color: $bg-body;
	// @include vendattr(transition, .25s all); vendval(background,'rgb(125,90,90)');

	h1, h2, h3{
		@include serif-heading;
	}
	header{
		background: $maroon;
		margin-top: -1.75%;
		h1.h1{
			color: $hdr-h1;
			font-size: 3.75em;
			padding: 15px 0 0 0;
		}
		nav{
			a, li{
				@include time(.25s, all);
			}
			ul{
				li{
					border-bottom: 3px solid $t;
					letter-spacing: 1px;
					padding: 0 $pd-li 0 $pd-li;
					&:hover{
						border-bottom: 3px solid $link-h;
						a{
							color: $link-h !important;
							text-decoration: none;
						}
					}
					&:active{
						@include time(0,all);
						border-bottom-color: $link-a;
						a:active{
							@include time(0,all);
							color: white !important;
						}
					}
					a{
						text-decoration: none;
						&:link{
							color: $link;
						}
						&:active{
							color: $link-a;
						}
						&:visited{
							color: $link;
						}
					}
				}
			}
		}
		&.fixed{
			background: maroon;
		    color: white;
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    h1{
		    	outline: 2px solid gold;
		    }
		}
	}
	div.container{
		div.main{
			background-color: $bg-main;
			border: 2px solid $bdr-main;
			border-radius: $bdr-rad;
			h2, h3, h4{
				@include serif;
			}
			p{
				@include sans;
				/* TYPOGRAPHY */
				font-size: 12px;
				letter-spacing: .5px;
				code{
					@include mono;
					font-size: .8em;
				}
			}
		}
		// div{
		// 	height: 3em;
		// 	width: 3em;
		// 	&.pred{
		// 		background-color: $pri-red;
		// 	}
		// 	&.pgreen{
		// 		background-color: $pri-green;
		// 	}
		// 	&.pblue{
		// 		background-color: $pri-blue;
		// 	}
		// 	&.maroon{
		// 		background-color: $maroon;
		// 	}
		// 	&.blue{
		// 		background-color: $blue;
		// 	}
		// 	&.green{
		// 		background-color: $green;
		// 	}
		// 	&.violet{
		// 		background-color: $violet;
		// 	}
		// 	&.orange{
		// 		background-color: $orange;
		// 	}
		// 	&.space{
		// 		height: 2em;
		// 		width: 2em;
		// 	}
		// }
	}
}